.principal{
    height: 100vh;
    
}
.padre{
    
   background: url("../../../assets/Fondo.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    font-family: 'Poppins', Helvetica, sans-serif;
&::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute ;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0064A7,#43B4E4 ); opacity: .8 ;
}
}

%texto{
    text-align: center;
}
@mixin texto($color){
color: $color;
}
.login{
    background-color:white;
    padding: 45px;
    border-radius: 1em;
    width: 100%;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.3);
    h5{
        @extend %texto;
        @include texto(black);
        font-weight: 500;
    }
    label{
        color: #8b8b8b;
    }
}
.row{
    width: 100%;
}
.logotam{
    width: 180px;
    height: 80px;
    position: relative;
    bottom: 10px;
    right: 32px;
}

.logocertamen{
    width: 180px;
    height: 180px;
    position: relative;
    bottom: 90px;
    right: 60px;
}

.text{
    top: 10px;
    position: relative;
    h3{
        color: white;
    }
    p{
        color: white;
        font-size: 10px;
    }
}
input[type="text"],
input[type="password"]{
    border: none;
}
.input-group{
    border: 1px solid #eaeaea;
}
 
.icon{
    position: relative;
    min-width: 40px;
    height: 15px;
    text-align: center;
    top: 12px;
    color: gray;
}
.form-control{
    border: none;
}
.boton-iniciar{
    border: none;
    border-radius: 1em;
    width: 100%;
    background: #0064A7;
    cursor: pointer;
    &:hover{
        background: #43B4E4;
    }
}

.boton-iniciar:disabled{
    background: #67baca;
    cursor: default;
}