<div class="container-fluid color">
    <div class="row ">
            <div class="col-xs-12 col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../assets/Ilustracion.png" class="img" alt="">
            </div>
            <div class="col-xs-12 col-md-6">
        <div class="tamano d-flex align-items-center justify-content-center">
            <form action="" class="">
        <label class="titulo">Registrar Juez</label>
        
        <div class="form-group">
            <label for="">Clave:</label>
            
            <input type="text" class="form-control" placeholder="Clave del juez">
            
        </div>
        <div class="form-group">
            <label for="">Nombre:</label>
            
            <input type="text" class="form-control" placeholder="Nombre del juez">
        </div>
            <div class="form-group"> 
            <label for="">Categoria:</label>
           
            <select name="" id="" class="form-control">
                <option value="Valor1">Valor 1</option>
                <option value="Valor2">Valor 2</option>
                <option value="Valor2">Valor 3</option>
            </select>
        </div>
        <div class="form-group">
            
            <label for="">Contraseña:</label>
            
            <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        
        <div class="form-group">
            <button>Registrar</button>
        </div>
    </form>
            
        </div>
    </div>
</div>