<div class="p-3">
    <div>
        <button [routerLink]="['home/projects-registered']" routerLinkActive="active" class="btn-project-registered btn mb-2"><span><i class="fas fa-pencil-ruler"></i></span> Proyectos registrados</button>
    </div>
    <div class="container-fluid color">

        <div class="row ">
            <div class="col-xs-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="z  d-flex align-items-center justify-content-center">
                    <img src="../../../assets/add_project.svg" class="img" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="tamano d-flex align-items-center justify-content-center p-5">
                    <form [formGroup]="formRegistroProyecto">
                        <h5 class="titulo font-weight-bold">Registrar Proyecto</h5>
                        <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del proyecto">
                        </div>
                        <div class="form-group">
                            <label for="">Asesor:</label>
                            <select formControlName="id_asesores" class="form-control">
                                <option [value]="asesor.id_asesores" *ngFor="let asesor of asesores">{{asesor.nombres}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Sede:</label>
                            <select formControlName="id_sedes" class="form-control">
                                <option [value]="sede.id_sedes" *ngFor="let sede of sedes">{{sede.sede}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Area:</label>
                            <select formControlName="id_areas" class="form-control">
                                <option [value]="area.id_areas" *ngFor="let area of areas">{{area.area}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Categoria:</label>
                            <select formControlName="id_categorias" class="form-control">
                                <option [value]="categoria.id_categorias" *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Resumen:</label>
                            <textarea formControlName="resumen" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Resumen del proyecto"></textarea>
                        </div>
                        <button class="btn btn-primary boton-iniciar" (click)="registrarProyecto()" [disabled]="!formRegistroProyecto.valid">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>