<div class="p-3">
    <div class="col-12">
        <div class="row justify-content-between">
            <div class="col-4">
                <button [routerLink]="['/home/authors-registered']" routerLinkActive="active" class="btn-authors-registered btn mb-2"><span><i class="fas fa-user-check"></i></span> Autores
                registrados</button>
            </div>
            
        </div>
    </div>

    <div class="container-fluid color">

        <div class="row ">
            <div class="col-xs-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="z  d-flex align-items-center justify-content-center">
                    <img src="../../../assets/add_authors.svg" class="img" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="tamano d-flex align-items-center justify-content-center p-5">
                    <form [formGroup]="formRegistroAutores">
                        <h5 class="titulo font-weight-bold">Registrar Autor</h5>
                        <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombres" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido paterno:</label>
                            <input type="text" class="form-control" formControlName="a_paterno" placeholder="Apellido paterno">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido materno:</label>
                            <input type="text" class="form-control" formControlName="a_materno" placeholder="Apellido materno">
                        </div>
                        <div class="form-group">
                            <label for="">Teléfono:</label>
                            <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
                        </div>

                        <div class="form-group">
                            <label for="">Correo:</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Correo">
                        </div>

                        <div class="form-group">
                            <label for="">Proyecto:</label>
                            <select formControlName="id_proyectos" class="form-control">
                                <option [value]="proyecto.id_proyectos" *ngFor="let proyecto of proyectos">{{proyecto.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Sede:</label>
                            <select formControlName="id_sedes" class="form-control" disabled>
                                <option [value]="sede.id_sedes" *ngFor="let sede of sedes">{{sede.sede}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Escuela:</label>
                            <select formControlName="id_escuelas" class="form-control">
                                <option [value]="escuela.id_escuelas" *ngFor="let escuela of escuelas">{{escuela.escuela}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Municipio:</label>
                            <select formControlName="id_municipios" class="form-control">
                                <option [value]="municipio.id_municipios" *ngFor="let municipio of municipios">{{municipio.municipio}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Localidad:</label>
                            <select formControlName="id_localidades" class="form-control">
                                <option [value]="localidad.id_localidades" *ngFor="let localidad of localidades">{{localidad.localidad}}</option>
                            </select>
                        </div>
                        <button (click)="reigstrarAutor()" [disabled]="!formRegistroAutores.valid" class="btn btn-primary boton-iniciar">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>