<div class="p-3">

    <div class="subtitle">
        <h4>Autores registrados</h4>
    </div>
    <hr>

    <table class="table table-lg table-hover">
        <thead class="background-table">
            <tr>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Proyecto</th>
                <th>Sede</th>
                <th>Escuela</th>
                <th>Municipio</th>
                <th>Localidad</th>
                <th>Opciones</th>

            </tr>
        </thead>

        <tr class="table" *ngFor="let autor of autores">
            <td>{{autor.nombre}}</td>
            <td>{{autor.a_paterno}}</td>
            <td>{{autor.a_materno}}</td>
            <td>{{autor.telefono}}</td>
            <td>{{autor.email}}</td>
            <td>{{autor.proyecto}}</td>
            <td>{{autor.sede}}</td>
            <td>{{autor.escuela}}</td>
            <td>{{autor.municipio}}</td>
            <td>{{autor.localidad}}</td>
            <td class="d-flex ">
                <button (click)="openSwal(autor)" class="btn btn-edit mr-3" data-toggle="modal" data-target="#modalEditar"><i class="fas fa-edit"></i></button>

                <button (click)="setAutor(autor)" class="btn btn-danger mr-3" data-toggle="modal" data-target="#modalEliminar"><i class="fas fa-trash-alt"></i></button>

                <button class="btn btn-primary" (click)="saveAsPdf(autor, autores)"><i class="fas fa-download"></i></button>
            </td>
        </tr>
    </table>
    <!-- Modal Eliminar -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <h4>¿Desea eliminar a <span *ngIf="autorActual" class="text-name-remove">{{autorActual.nombre}}</span>?</h4>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button class="btn btn-secondary mr-4" data-dismiss="modal">Cancelar</button>
                        <button (click)="deleteAutor()" data-dismiss="modal" class="btn btn-danger ">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <swal #swalid title="Editar Autor" [showConfirmButton]="false">
        <form *swalPortal [formGroup]="formAutores">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" formControlName="nombres" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="">Apellido paterno:</label>
                <input type="text" class="form-control" formControlName="a_paterno" placeholder="Apellido paterno">
            </div>
            <div class="form-group">
                <label for="">Apellido materno:</label>
                <input type="text" class="form-control" formControlName="a_materno" placeholder="Apellido materno">
            </div>
            <div class="form-group">
                <label for="">Teléfono:</label>
                <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
            </div>

            <div class="form-group">
                <label for="">Correo:</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Correo">
            </div>

            <div class="form-group">
                <label for="">Proyecto:</label>
                <select formControlName="id_proyectos" class="form-control">
                    <option [value]="proyecto.id_proyectos" *ngFor="let proyecto of proyectos">{{proyecto.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Sede:</label>
                <select #sd (change)="onChangeSedeActual(sd.value)" formControlName="id_sedes" class="form-control" [attr.disabled]="superUser ? 'disabled':null">
                    <option [value]="sede.id_sedes" *ngFor="let sede of sedes">{{sede.sede}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Escuela:</label>
                <select formControlName="id_escuelas" class="form-control">
                    <option [value]="escuela.id_escuelas" *ngFor="let escuela of escuelas">{{escuela.escuela}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Municipio:</label>
                <select formControlName="id_municipios" class="form-control">
                    <option [value]="municipio.id_municipios" *ngFor="let municipio of municipios">{{municipio.municipio}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Localidad:</label>
                <select formControlName="id_localidades" class="form-control">
                    <option [value]="localidad.id_localidades" *ngFor="let localidad of localidades">{{localidad.localidad}}</option>
                </select>
            </div>
            <button (click)="editarAutor()" [disabled]="!formAutores.valid" class="btn btn-primary" data-dismiss="modal">Editar</button>
        </form>
    </swal>
</div>