.menubar-label-category{
    color: rgb(82,82,82);
    font-size: 12px;
}

.table{
    margin-bottom: 0 !important;
}
.category-label{
    color: white;
    font-size: 12px;
    background: rgb(0,125,151);
    border-radius: 135px 135px 135px 135px;
    -moz-border-radius: 135px 135px 135px 135px;
    -webkit-border-radius: 135px 135px 135px 135px;
    border: 0px solid #000000;
}

.custom-btn-danger{
    padding: 5px 15px;
    background-color: #970000;
    border: none;
    color: #fff;
    border-radius: 2em;
}

.custom-btn-edit{
    padding: 5px 15px;
    background-color: #007d97;
    border: none;
    color: #fff;
    border-radius: 2em;
}

.custom-btn-success{
    padding: 5px 15px;
    background-color: #00c300;
    border: none;
    color: #fff;
    border-radius: 2em;
}

input[type="number"]{
    width: 50px ;
}
.btn-projects{
    margin-top: 3px;
    text-align: justify;
    font-size: 15px;
    border-radius: 50px;
    height: 90%;
}
.projects {
    height:300px;  
}

.scroll{
    overflow-y: scroll;
}
.card{
    // box-shadow: 0 2px 10px 0 rgba(110,130,208, .60);
    border-radius: 0;
}
.CardPrincipal{
    min-height: 78%;
}
.firstHeader{
    background-color: rgb(0,125,151);
    border-radius: 0;
}
.firstHeader h6{
    color: #fff;
}
.titleHeader{
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}
.btn-new{
    color: #fff;
}
.CardIzquierdo{
    height: 35%;
}
.CardIzquierdo h6{
    padding: 0px;
    margin: 0%;
}
.CardIzquierdoTop{
    padding: 0px 0px;
}
.CardIzquierdoTop h6{
    margin: 0%;
}
.SecondHeader{
    margin: 0%;
    padding: 5px;
}