<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="menubar-label-category navbar-brand">Categoria: <span class="category-label">Media superior</span></a>
    <button class="fas fa-cog btn-cog"></button>
</nav>
<div></div>

<div class="container-fluid">
    <div class="row">
        <!-- columna Izquierda -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="CardPrincipal card">
                <div class="firstHeader card-header">
                    <div class="row justify-content-between">
                        <h6>Proyectos</h6>
                        <h6>Nuevo proyecto</h6>
                    </div>
                </div>
        
                <div class="card-body">
                    <div class="row d-flex">
                        <h6 class="p-2">Proyecto</h6>
                        <h6 class="ml-auto p-2">Total</h6>
                        <h6 class="ml-auto p-2">Opciones</h6>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="SecondHeader card-header">
                                <div class="d-flex">
                                    <div class="p-2">Plurector</div>
                                    <div class="ml-auto p-2"><h6 class="badge badge-danger">Sin calificar</h6></div>
                                    <div class="ml-auto p-2"><button class="btn-projects btn btn-success" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Calificar</button></div>
                                </div>
                            </div>
                            <div class="collapse" id="collapse1" aria-labelledby="heading1" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-hover table-sm">
                                        <thead class="thead-ligth">
                                            <tr>
                                                <th scope="col">Punto</th>
                                                <th scope="col">Calificación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Creatividad</td>
                                                <td>
                                                    <input type="number">
                                            </td>
                                            </tr>
                                            <tr>
                                                <td>Creatividad</td>
                                                <td> 
                                                    <input type="number">
                                                </td>
                                            </tr>       
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <!-- columna derecha -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="CardIzquierdoTop projects card">
                <div class="card-header">
                    <h6>Proyectos calificados</h6>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead class="thead-ligth">
                            <tr>
                                <th scope="col">Nombre del proyecto</th>
                                <th scope="col">Fecha de calificación</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem</td>
                                <td>11/02/2020</td>
                                <td><button class="btn-projects btn btn-info">Editar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>11/02/2020</td>
                                <td><button class="btn-projects btn btn-info">Editar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>11/02/2020</td>
                                <td><button class="btn-projects btn btn-info">Editar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="CardIzquierdo projects card">
                <div class="card-header">
                    <h6>Proyectos por calificar</h6>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead class="thead-ligth">
                            <tr>
                                <th scope="col">Nombre del proyecto</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td><button class="btn-projects btn btn-success">Calificar</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>