.principal{
    height: 100vh;
    
}
.padre{
   background: url("../../assets/Fondo.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    font-family: 'Poppins', Helvetica, sans-serif;
&::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute ;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0BB5D8,#1F5D78 ); opacity: .8 ;
}
}

%texto{
    text-align: center;
}
@mixin texto($color){
color: $color;
}
.login{
    background-color:white;
    padding: 45px;
    border-radius: 1em;
    width: 100%;
        box-shadow: 0px 0px 3px #252525;
    h5{
        @extend %texto;
        @include texto(black);
        font-weight: 500;
    }
    label{
        @include texto(black);
    }
}
.row{
    width: 100%;
}
.logotam{
    width: 90px;
    height: 40px;
    position: relative;
    bottom: 60px;
    right: 50px;
}
.text{
    position: relative;
    top: 210px;
    left: 20px;
    h3{
        color: white;
    }
    p{
        color: white;
        font-size: 10px;
    }
}
input[type="text"],
input[type="password"]{
    border: none;
}
.input-group{
    box-shadow: 0px 0px 3px #252525;
}
 
.icon{
    position: relative;
    min-width: 40px;
    height: 15px;
    text-align: center;
    top: 12px;
    color: gray;
}
.form-control{
    border: none;
}
.boton-iniciar{
    border: none;
    border-radius: 2em;
    width: 100%;
    background: #0BB5D8;
    box-shadow: 0px 0px 3px #252525;

    &:hover{
        background:black;
    }
    }