<div class="p-3">
    <div class="subtitle">
        <h4>Jueces registrados</h4>
    </div>
    <hr>
        <table class="table table-lg table-hover table-responsive-lg">
            <thead class="background-table">
                <tr>
                    <th>Nombre</th>
                    <th>Id</th>
                    <th>Categoria</th>
                    <th>Sede</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tr class="table" *ngFor="let juez of jueces">
                <td>{{juez.nombre}}</td>
                <td>{{juez.id_jueces}}</td>
                <td>{{juez.categoria}}</td>
                <td>{{juez.sede}}</td>
                <td>{{juez.usuario}}</td>
                <td>{{juez.contrasena}}</td>
                <td class="d-flex">
                    <button (click)="open(juez)" class="btn btn-edit mr-3" data-toggle="modal" data-target="#modalEditar"><i class="fas fa-edit"></i></button>
                
                    <button (click)="setJudge(juez)" class="btn btn-danger mr-3" data-toggle="modal" data-target="#modalEliminar"><i class="fas fa-trash-alt"></i></button>
            
                    <button (click)="saveAsPdf(juez)" class="btn btn-primary"><i class="fas fa-download"></i></button>
                </td>
            </tr>
        </table>
        <!-- Modal Eliminar -->
        <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <h4>¿Desea eliminar a <span *ngIf="juezActual" class="text-name-remove">{{juezActual.nombre}}</span>?</h4>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button class="btn btn-secondary mr-4" data-dismiss="modal">Cancelar</button>
                        <button (click)="deleteJudge()" data-dismiss="modal" class="btn btn-danger ">Eliminar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- swal editar -->
    <swal (confirm)="editarJuez()" #swalid title="Editar Juez" [showCancelButton] ="true">
        <form *swalPortal [formGroup]="formJuez">
            <div class="form-group">
                <label for="">Usuario:</label>
                <input type="text" class="form-control" formControlName="usuario"
                    placeholder="Clave del juez">
            </div>
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" formControlName="nombre"
                    placeholder="Nombre del juez">
            </div>
            <div class="form-group">
                <label for="">Categoria:</label>
                <select [value]="verificarCat(juezActual.categoria)" formControlName="id_categorias" class="form-control">
                    <option value="1">Petit</option>
                    <option value="2">Kits</option>
                    <option value="3">Juvenil</option>
                    <option value="4">Media superior</option>
                    <option value="5">Superior</option>
                    <option value="6">Posgrado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Sede:</label>
                <select formControlName="id_sedes" class="form-control" disabled>
                    <option [value]="sede.id_sedes" *ngFor="let sede of sedes">{{sede.sede}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Contraseña:</label>
                <input [value]="juezActual.contrasena" class="form-control" formControlName="contrasena"
                    placeholder="Contraseña">
            </div>
        </form>
    </swal>
</div>