<div class="p-3">

    <div class="subtitle">
        <h4>Jueces registrados</h4>
    </div>
    <hr>
        <table class="table table-lg table-hover table-responsive-lg">
            <thead class="background-table">
                <tr>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Categoria</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tr class="table" *ngFor="let juez of jueces">
                <td>{{juez.nombre}}</td>
                <td>{{juez.id_jueces}}</td>
                <td>{{juez.categoria}}</td>
                <td>{{juez.usuario}}</td>
                <td>{{juez.contrasena}}</td>


                <td class="d-flex">
                    <button class="btn-edit btn mr-3"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </table>


        <!-- Modal Eliminar -->



        <!-- Modal Editar -->
        <!-- <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar Juez</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form>
                                        <div class="form-group">
                                            <label for="">Clave:</label>
                                            <input type="text" class="form-control" formControlName="usuario"
                                                placeholder="Clave del juez">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Nombre:</label>
                                            <input type="text" class="form-control" formControlName="nombre"
                                                placeholder="Nombre del juez">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Categoria:</label>
                                            <select formControlName="id_categorias" class="form-control">
                                                <option value="1">Petit</option>
                                                <option value="2">Kits</option>
                                                <option value="3">Juvenil</option>
                                                <option value="4">Media superior</option>
                                                <option value="5">Superior</option>
                                                <option value="6">Posgrado</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Contraseña:</label>
                                            <input type="password" class="form-control" formControlName=""
                                                placeholder="Contraseña">
                                        </div>
                                        <hr>
                                        <button class="btn-save btn btn-block">Guardar</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div> -->

</div>