<div #mobile class="wrapper nav-mobile">
    <button class="toggle" (click)="toggle()"><i class="fas fa-bars"></i></button>
    <div class="sidebar">
        <div class=" sidebar-menu">
            <!-- logo tamaulipas -->
            <div class="profile">
                <img src="../../../assets/logotam.png" alt="">
                <!-- <p>Hola, Bienvenido</p> -->
                <p>CP. <span>{{sessionData['nombre']}}</span></p>
                <hr>
            </div>
            <div class="indicador">
                <p><span>General</span></p>
            </div>
            <li class="item">
                <a [routerLink]="['dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-btn">
                    <i class="fas fa-home"></i><span> Inicio <i class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a class="menu-btn"   [routerLink]="['projects']" routerLinkActive="active"  >
                    <i class="fas fa-user-circle"></i><span> Proyectos <i

							class="fas fa-chevron-right drop-down"></i></span>
                </a>
            </li>

            <!-- OPCIONES DE ADMINISTRADOR -->
            <div class="indicador">
                <p><span>Administrador</span></p>
            </div>


			<li class="item">
				<a  [routerLink]="['judges']" routerLinkActive="active" class="menu-btn">
					<i class="fas fa-users"></i><span> Jueces <i class="fas fa-chevron-right drop-down"></i></span>
				</a>
				<a  [routerLink]="['add-projects']" routerLinkActive="active" class="menu-btn">
					<i class="fas fa-pencil-ruler"></i><span> Proyectos <i

							class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <!-- <a class="menu-btn">
                    <i class="fas fa-align-left"></i><span> Categorias <i
							class="fas fa-chevron-right drop-down"></i></span>
                </a> -->
                <a class="menu-btn" (click)="cerrarSesion()" style="cursor: pointer;">
                    <i class="fa fa-window-close"></i><span> Cerrar sesión</span>
                </a>
            </li>
            <!-- TERMINA OPCIONES DE ADMINISTRADOR -->

        </div>
</div>
</div>

<div class="wrapper">
    <div class=" sidebar-s sidebar">
        <div class="sidebar-menu">
            <!-- logo tamaulipas -->
            <div class="profile">
                <img src="../../../assets/logotam.png" alt="">
                <!-- <p>Hola, Bienvenido</p> -->
                <p>CP. <span>{{sessionData['nombre']}}</span></p>
                <hr>
            </div>
            <div class="indicador">
                <p><span>General</span></p>
            </div>
            <li class="item">
                <a [routerLink]="['dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-btn">
                    <i class="fas fa-home"></i><span> Inicio <i class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a *ngIf="!admin" class="menu-btn" [routerLink]="['projects']" routerLinkActive="active">
                    <i class="fas fa-tasks"></i><span> Proyectos <i class="fas fa-chevron-right drop-down"></i></span>
                </a>
            </li>

            <!-- OPCIONES DE ADMINISTRADOR -->
            <div class="indicador" *ngIf="admin">
                <p><span>Administrador</span></p>
            </div>


            <li class="item">
                <a *ngIf="admin" [routerLink]="['judges']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-balance-scale"></i><span> Jueces <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a *ngIf="admin" [routerLink]="['add-projects']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-pencil-ruler"></i><span> Proyectos <i
                            class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a *ngIf="admin" [routerLink]="['add-advisers']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-users"></i><span> Asesores <i class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <a *ngIf="admin" [routerLink]="['add-authors']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-user-check"></i><span> Autores <i class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <a *ngIf="admin" [routerLink]="['add-estadistics']" routerLinkActive="active" class="menu-btn">
                    <i class="fas fa-user-check"></i><span> Estadísticas <i class="fas fa-chevron-right drop-down"></i></span>
                </a>

                <a class="menu-btn" (click)="cerrarSesion()" style="cursor: pointer;">
                    <i class="fa fa-window-close"></i><span> Cerrar sesión</span>
                </a>
            </li>
            <!-- TERMINA OPCIONES DE ADMINISTRADOR -->

        </div>
    </div>




    <div class="main-container">
        <nav class="navbar navbar-light bg-light justify-content-between mb-3 p-3">
            <p class="" *ngIf="admin">Categoria: <span class="ml-3 category-label">Administrador</span></p>
            <p class="" *ngIf="!admin">Categoria: <span class="ml-3 category-label">{{categoria | titlecase}}</span></p>
            <!-- <button class="fas fa-cog btn-cog"></button> -->
        </nav>
        <router-outlet></router-outlet>
    </div>

</div>
<!-- 

<script type="text/javascript">
	$(document).ready(function () {
		$(".sidebar-btn").click(function () {
			$(".wrapper").toggleClass("collapse");
		});
	});
</script> -->