<div class="wrapper">
    <div class="sidebar">


        <div class="sidebar-menu">
            <!-- logo tamaulipas -->
            <div class="profile">
                <img src="../../../assets/logotam.png" alt="">
                <!-- <p>Hola, Bienvenido</p> -->
                <p>CP. <span>{{sessionData['nombre']}}</span></p>
                <hr>
            </div>
            <div class="indicador">
                <p><span>General</span></p>
            </div>
            <li class="item">
                <a [routerLink]="['dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-btn">
                    <i class="fas fa-home"></i><span> Inicio <i class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a class="menu-btn"   [routerLink]="['projects']" routerLinkActive="active"  >
                    <i class="fas fa-user-circle"></i><span> Proyectos <i

							class="fas fa-chevron-right drop-down"></i></span>
                </a>
            </li>

            <!-- OPCIONES DE ADMINISTRADOR -->
            <div class="indicador">
                <p><span>Administrador</span></p>
            </div>


			<li class="item">
				<a  [routerLink]="['judges']" routerLinkActive="active" class="menu-btn">
					<i class="fas fa-users"></i><span> Jueces <i class="fas fa-chevron-right drop-down"></i></span>
				</a>
				<a class="menu-btn">
					<i class="fas fa-pencil-ruler"></i><span> Proyectos <i

							class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a class="menu-btn">
                    <i class="fas fa-align-left"></i><span> Categorias <i
							class="fas fa-chevron-right drop-down"></i></span>
                </a>
                <a class="menu-btn" (click)="cerrarSesion()" style="cursor: pointer;">
                    <i class="fa fa-window-close"></i><span> Cerrar sesión</span>
                </a>
            </li>
            <!-- TERMINA OPCIONES DE ADMINISTRADOR -->

        </div>
    </div>




    <div class="main-container">
        <nav class="navbar navbar-light bg-light justify-content-between mb-3 p-3">
            <p class="">Categoria: <span class="ml-3 category-label">{{categoria | titlecase}}</span></p>
            <button class="fas fa-cog btn-cog"></button>
        </nav> 
        <router-outlet></router-outlet>
    </div>

</div>
<!-- 

<script type="text/javascript">
	$(document).ready(function () {
		$(".sidebar-btn").click(function () {
			$(".wrapper").toggleClass("collapse");
		});
	});
</script> -->