<div class="container-fluid">
    <div class="row">
        <div id="gg" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        
            <div class="card">
                <div class="card-header background-table">
                    <h6>Proyectos por sede</h6>
                </div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas id="graficaProy1" baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="barChartColors">
                        </canvas>
                      </div>
                      <button id="btn-graf" mat-button mat-raised-button color="primary" (click)="downloadPDF()">Imprimir</button>
                </div>
            </div>
        

            <p>Select para la sede</p>
        
            <div class="card">
                <div class="card-header">
                    <h6>Proyectos por categoria y sede</h6>
                </div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas id="graficaProy2" baseChart
                          [datasets]="barChartData1"
                          [labels]="barChartLabels1"
                          [options]="barChartOptions1"
                          [plugins]="barChartPlugins1"
                          [legend]="barChartLegend1"
                          [chartType]="barChartType1"
                          [colors]="barChartColors1">
                        </canvas>
                      </div>
                      <button id="btn-graf" mat-button mat-raised-button color="primary" >Imprimir</button>
                </div>
            </div>
        </div> <!-- fin columna izquierda -->
        
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p>Select para las categorias</p>
            <div class="card">
                <div class="card-header">
                    <h6>Proyectos por categoria</h6>
                </div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas id="graficaProy3" class="grafica" baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="barChartColors">
                        </canvas>
                      </div>
                      <button id="btn-graf" mat-button mat-raised-button color="primary" >Imprimir</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6>Asesores por sede</h6>
                </div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas id="graficaProy4" class="grafica" baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="barChartColors">
                        </canvas>
                      </div>
                      <button id="btn-graf" mat-button mat-raised-button color="primary" >Imprimir</button>
                </div>
            </div>
        </div> <!-- fin columna derecha -->
    </div> <!-- fin row -->
</div> <!-- fin container-fluid -->