<!-- <nav class="navbar navbar-light bg-light justify-content-between mb-3">
    <a class="menubar-label-category navbar-brand">Categoria: <span class="category-label">{{categoria}}</span></a>
    <button class="fas fa-cog btn-cog"></button>
</nav> -->
<!-- container -->
<div onload="getTime()" class="container-fluid">
    <!-- Primera seccion -->
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
    
                        <p class="text-center custom-text">Proyectos</p>
                        <h1 class="text-h1">{{totales['proyectos']}}</h1>

                </div>

                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">

                        <p class="text-center custom-text">Participantes</p>
                        <h1 class="text-h1 ">{{totales['autores']}}</h1>

                </div>

                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
                        <p class="text-center custom-text">Categorías</p>
                        <h1 class="text-h1">{{totales['categorias']}}</h1>

                </div>

                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
                        <p class="text-center custom-text">Jueces</p>
                        <h1 class="text-h1 ">{{totales['jueces']}}</h1>
                </div>

            </div>
        </div>

        <!-- CRONOMETRO -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">   
            <div class="card-clock card"> 
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <h1 name="freloj" class="text-h1-panel mt-2"> <span> <a href="" class="fas fa-clock"></a> </span>
                            {{getTime()}}    
                        </h1>
                    </div>
                </div>
            </div>
               <!-- <div class="row justify-content-around p-1">
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                       <h6> Fecha inicio: <span><h6 class="text-h6">10/05/2020</h6></span></h6>
                   </div>
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <h6>Fecha final: <span><h6 class="text-h6">10/05/2020</h6></span></h6>
                </div>
               </div> -->
        </div>
        <!-- FIN CRONOMETRO -->
    </div>
    <!-- termina primera seccion -->
    <hr>


    <!-- segunda seccion -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- colum izquierda -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="card m-0">
                            <div class="card-header">
                                <h6>Proyectos calificados</h6>
                            </div>
                            <div class="qualified-projects card-body m-0 p-0">
                                <ul class="list-group "  *ngFor="let proyecto of proyectosCalificados">
                                    <li class="d-flex list-group-item p-2">{{proyecto.nombre}}
                                        <button class="ml-auto p-1 btn custom-btn-edit" data-toggle="modal" data-target="#modal1">
                                            Información
                                        </button>
                                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalLabel">Información del proyecto</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iusto quod sapiente temporibus non iure, reiciendis accusantium possimus aspernatur ut vitae inventore autem, enim veritatis? Fugiat nemo laboriosam adipisci tempora!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
<!-- 
                                <table class="table table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proyecto of proyectosCalificados">
                                            <td>{{proyecto.nombre}}<br><small>{{proyecto.resumen}}</small></td>
                                            <td>{{proyecto.fecha | date}}</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>
                                    </tbody>
                                </table> -->

                            </div>
                        </div>
                        <br>

                        
                        <div class="card ">
                            <div class="card-header">
                                <h6>Proyectos por calificar</h6>
                            </div>
                            <div class="card-body p-0 qualified-projects">
                                <ul class="list-group "  *ngFor="let proyecto of proyectosPorCalificar">
                                    <li class="d-flex list-group-item p-2">{{proyecto.nombre}}
                                        <button class="ml-auto p-1 btn custom-btn-edit" data-toggle="modal" data-target="#modal1">
                                            Información
                                        </button>
                                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalLabel">Información del proyecto</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iusto quod sapiente temporibus non iure, reiciendis accusantium possimus aspernatur ut vitae inventore autem, enim veritatis? Fugiat nemo laboriosam adipisci tempora!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- <table class="table table-hover table-sm">
                                    <thead class="thead-ligth">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proyecto of proyectosPorCalificar">
                                            <td>{{proyecto.nombre}}<br><small>{{proyecto.resumen}}</small></td>
                                            <td><button class="btn-see-projects btn btn-success">Calificar</button></td>
                                        </tr>
                                    </tbody>
                                </table> -->


                            </div>
                        </div>
                    </div>

                    <!-- colum derecha -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- card grafica -->
                        <div class="card">
                            <div class="card-header">
                                <h6>Proyectos por categorias</h6>
                            </div>
                            <div class="qualified-projects card-body p-0">
                                <div style="display: block;">
                                    <canvas baseChart 
                                      [datasets]="barChartData"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [plugins]="barChartPlugins"
                                      [legend]="barChartLegend"
                                      [colors]="barChartColors"
                                      [chartType]="barChartType">
                                    </canvas>
                                  </div>
                                  
                            </div>
                        </div>
                        <br>
                        <!-- card estadisticas -->
                        <div class="card">
                            <div class="card-header">
                                    <h6>Estadistica de proyectos</h6>
                                
                            </div>
                            <div class="qualified-projects card-body p-0">
                                <table class="table">
                                    <thead class="thead-ligth">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Porcentaje</th>
                                            <th scope="col"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proyectos of estadisticasDeProyectos">
                                            <td>{{proyectos.nombre}}</td>
                                            <td>
                                                <div class="progress mb-3" style="height:20px;">
                                                    <div class="progress-bar bg-custom" role="progressbar" [ngStyle]="getPercent(proyectos.total)"></div>
                                                </div>
                                            </td>
                                            <td>{{proyectos.total | number}}%</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin segunda seccion -->


</div>
<!-- fin container -->