<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="menubar-label-category navbar-brand">Categoria: <span class="category-label">Media superior</span></a>
    <button class="fas fa-cog btn-cog"></button>
</nav>
<div></div>

<!-- container -->
<div class="container-fluid">
    <!-- Primera seccion -->
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 d-flex my-3">
                    <div class="mx-auto">
                        <h6 class="text-h6"> <span> <a href="" class="fas fa-home"></a> </span>Proyectos</h6>
                        <h1 class="text-h1">25</h1>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 d-flex my-3">
                    <div class="mx-auto">
                        <h6 class="text-h6 "> <span> <a href="" class="fas fa-home"></a> </span>Participantes</h6>
                        <h1 class="text-h1 ">60</h1>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 d-flex  my-3">
                    <div class="mx-auto">
                        <h6 class="text-h6 "> <span> <a href="" class="fas fa-home"></a> </span>Categorías</h6>
                        <h1 class="text-h1 "> 7</h1>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 d-flex  my-3">
                    <div class="mx-auto">
                        <h6 class="text-h6 "> <span> <a href="" class="fas fa-home"></a> </span>Jueces</h6>
                        <h1 class="text-h1 ">10</h1>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 d-flex my-3">
                    <div class="mx-auto">
                        <button class="btn-see-projects btn btn-info">Proyectos</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CRONOMETRO -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body card-clock">
                        <div class="col-lg-3 col-md-6 d-flex my-1">
                            <a href="" class="icon-calendar fas fa-calendar"></a>
                            <h6 class="text-h6-panel">Fecha de inicio: <span>10/05/2020</span></h6>
                            <h6 class="text-h6-panel">Fecha final: <span>11/05/1/2020</span></h6>
                            <h1 class="text-h1-panel">05:15:25</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- FIN CRONOMETRO -->
    </div>
    <!-- termina primera seccion -->
    <hr>


    <!-- segunda seccion -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- colum izquierda -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="card qualified-projects">
                            <div class="card-header">
                                <h6>Proyectos calificados</h6>
                            </div>
                            <div class="card-body">

                                <table class="table table-hover table-sm">
                                    <thead class="thead-ligth">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>
                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>
                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>

                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>

                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>

                                        <tr>
                                            <td>Lorem</td>
                                            <td>11/02/2020</td>
                                            <td><button class="btn-see-projects btn btn-info">Editar</button></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <br>

                        <div class="card qualified-projects">
                            <div class="card-header">
                                <h6>Proyectos por calificar</h6>
                            </div>
                            <div class="card-body">

                                <table class="table table-hover table-sm">
                                    <thead class="thead-ligth">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem</td>
                                            <td><button class="btn-see-projects btn btn-success">Calificar</button></td>
                                        </tr>
                                        <tr>
                                            <td>Lorem</td>
                                            <td><button class="btn-see-projects btn btn-success">Calificar</button></td>
                                        </tr>
                                        <tr>
                                            <td>Lorem</td>
                                            <td><button class="btn-see-projects btn btn-success">Calificar</button></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                    <!-- colum derecha -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- card grafica -->
                        <div class="qualified-projects card">
                            <div class="card-header">
                                <h6>Proyectos por categorias</h6>
                            </div>
                            <div class="card-body">
                                <h1 class="text-h1">Gráfica</h1>
                                <hr>
                                <button class="btn-see-projects btn btn-info">Actualizar</button>
                            </div>
                        </div>
                        <br>
                        <!-- card estadisticas -->
                        <div class="qualified-projects card">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <h6>Estadistica de proyectos</h6>
                                    <h6 class="text-h6-graph">2,000 votos</h6>
                                </div>
                            </div>
                            <div class="card-body">

                                <table class="table table-sm">
                                    <thead class="thead-ligth">
                                        <tr>
                                            <th scope="col">Proyecto</th>
                                            <th scope="col">Porcentaje</th>
                                            <th scope="col"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem</td>
                                            <td>
                                                <div class="progress mb-3" style="height:20px;">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width:80%;"></div>
                                                </div>
                                            </td>
                                            <td>80%</td>
                                        </tr>
                                        <tr>

                                            <td>Lorem</td>
                                            <td>
                                                <div class="progress mb-3" style="height:20px;">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width:73%;"></div>
                                                </div>
                                            </td>
                                            <td>73%</td>
                                        </tr>

                                        <tr>
                                            <td>Lorem</td>
                                            <td>
                                                <div class="progress mb-3" style="height:20px;">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width:65%;"></div>
                                                </div>
                                            </td>
                                            <td>65%</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin segunda seccion -->


</div>
<!-- fin container -->